<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-applovinmax-ads" version="0.0.1"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
    <name>cordova-plugin-applovinmax-ads</name>
    <description>AppLovin Max mediation plugin</description>
    <js-module src="www/applovinmax.js" name="AppLovinMax">
        <clobbers target="AppLovinMax" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0" />
        <engine name="cordova-android" version=">=4.0.0" />
        <engine name="cordova-ios" version=">=4.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppLovinMaxPlugin" >
                <param name="android-package" value="com.lakgames.plugins.applovinmax.AppLovinMaxPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <source-file src="src/android/AppLovinMaxPlugin.java" target-dir="src/com/lakgames/plugins/applovinmax" />
        <source-file src="src/android/AppLovinMaxRewardedAd.java" target-dir="src/com/lakgames/plugins/applovinmax" />
        <source-file src="src/android/AppLovinMaxInterstitialAd.java" target-dir="src/com/lakgames/plugins/applovinmax" />

        <framework src="src/android/appLovinMax.gradle" custom="true" type="gradleReference" />
        <framework src="com.android.support:support-v4:+" />
        <framework src="com.android.support:recyclerview-v7:27.1.1" />
    </platform>
</plugin>